<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h2>Quiz 2 Pekan 2</h2>
    <div id="app">
        <input type="text" v-model="new_user">
        <button v-on:click="add_update">{{add_update_button}}</button>
        <ul>
            <li v-for = "(data,index) in users">
                {{ data.name }}
                <button style="margin-left: 10px" v-on:click="edit(data.name,index)">Edit</button>
                ||
                <button v-on:click="hapus(index)">Delete</button>
                <br><br>
            </li>
        </ul>
    </div>

    <script src="vue-script.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok'
                    },
                    {
                        'name': 'Ruby Purwanti'
                    },
                    {
                        'name': 'Faqih Muhammad'
                    }
                ],
                new_user: '',
                add_update_button: "Add",
                dummy_index: 0
            },
            methods: {
                add_update: function(){
                    user_temp = this.new_user.split("\n").join("").split(" ").join("")
                    if(user_temp.length == 0){
                        this.new_user = ''
                        return alert('Nama user kosong. Harap diisi!')
                    }
                    if(this.add_update_button == "Update"){
                        this.users[this.dummy_index].name = this.new_user
                        this.new_user = ''
                        this.add_update_button = "Add"
                        this.dummy_index = 0
                    } else {
                        this.users.push({
                            'name': this.new_user
                        })
                        this.new_user = ''
                    }
                },
                edit: function(name,index){
                    this.new_user = name
                    this.add_update_button = "Update",
                    this.dummy_index = index
                },
                hapus: function(index){
                    let con = confirm('Anda yakin untuk menghapus data ini?')
                    if(con){
                        delete this.users.splice(index,1)
                    }
                }
            }
        })
    </script>
</body>

</html>